:root {
        --color-primario: #E3F4F8;
        --color-texto: #25284C;
        --color-enfasis: #585EFE;
        --color-text: #8589B2;
        --color-border:#323779;
        --color-background: #282B59;
        --color-bodybg: #1C1E3D;
        --card-background: #25284C;
        --color-aqua: #04D7FF;

        --primary-font: "Unbounded";
        --secondary-font: "Montserrat";
       
        font-size : 100%;
        font-family : system-ui, sans-serif;
        scroll-behavior : smooth;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-primario: #E3F4F8;
            --color-secundario: #181818;
        }
    }

* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
*::before , *::after {
  display : block;
}
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  object-fit : cover;
  object-position : center center;
}
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}
mark {
  background-color : transparent;
}
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
body {
  min-height : 100vh;
  line-height : 1.5em;
  color : inherit;
  hyphens : auto;
  font-smooth : always;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
}
textarea {
  white-space : pre-wrap;
}
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify : read-write;
  -webkit-user-modify : read-write;
  overflow-wrap : break-word;
  -webkit-line-break : after-white-space;
  -webkit-user-select : auto;
}
:where([draggable="true"]) {
  -webkit-user-drag : element;
}
@media ( prefers-color-scheme : dark ) {
  :root {
}

}
@media ( prefers-contrast : high ) {
  :root {
}

}
@media ( prefers-reduced-motion : reduce ) {
  * {
  animation : none !important;
  transition : none !important;
}

}
::selection {
  background-color : var(--tu-propia-variable);
  color : var(--tu-propia-variable);
}

    body {
        min-height: 100vh;
        font-size: 100%;
        font-family: var(--primary-font);
        color: var(--color-primario);
        background-color: var(--color-secundario);
        /* optional */ line-height: 22.4px;
        /* optional */ hyphens: auto;
        /* optional */ font-smooth: always;
        /* optional */ -webkit-font-smoothing: anialiased;
        /* optional */ -moz-osx-font-smoothing: grayscale;
    }

body {
    background-color: var(--color-bodybg);
}

.u-h3 {
    font-family: var(--primary-font);
    font-size: clamp(1.8em, 3vw, 3em);
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
    text-wrap: wrap;
    color: var();
    letter-spacing: -0.0938rem;
}

.u-h4 {
    font-family: var(--primary-font);
    font-size: clamp(19.2px, 2.3vw, 26.4px);
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
    text-wrap: wrap;
    color: white;
}

.u-p {
    font-family: var(--secondary-font);
    font-size: clamp(.8em, 2.5vw, 1.1em);
    line-height: 1.6em;
    font-weight: 400;
    color: var(--color-text);
}

.u-a {
    width: fit-content;
    min-height: auto;
    background-color: transparent;
    padding: 24px 96px;
    font-size: clamp(1em, 3vw, 1.1em);
    font-weight: 400;
    color: var(--color-primario);
    border: .125rem solid var(--color-primario);
    border-radius: 3.125rem;
    cursor: pointer;

    transition: all 1s;
    position: relative;
    overflow: hidden;
}

.u-a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: var(--color-primario);
    border-radius: 0;
    
    z-index: -1;
    transform: translateX(-100%);
}

.u-a:hover::before {
    transform: translateX(0);
    transition: all .3s ease;
}

.u-a:hover {
    color: var(--color-bodybg);
}

.Header {
    width: 100%;
    max-width: 800px;
    min-height: 44.8px;
    background-color: var(--color-background);
    margin: 32px auto 0;
    padding: 16px 25.6px;
    border: .0625rem solid var(--color-enfasis);
    border-radius: 3.125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    z-index: 2;
    position: fixed;
    top: 0;
}

.Menu{
    background-color: var(--color-background);
    width: 100%;
    max-width: 33%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem 1fr;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    transform: translateX(100%);
    transition: all .3s ease;
}
.Menu.isVisible{
    transform: translateX(0);
}
.Menu-svg{
    width: 10%;
    justify-self: end;
    transition: all .3s ease;
}
.Menu-svg:hover{
    transform: rotate(360deg);
}
.Menu-ul{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: var(--secondary-font);
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.Header-h1{
    display: none;
}

.Header-ul {
    width: fit-content;
    min-height: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.Header-svg {
    display: none;
}

.Header-a {
    width: fit-content;
    min-height: auto;
    padding: 8px 16px;
    font-family: var(--secondary-font);
    font-size: clamp(12.8px, 1vw, 14.4px);
    font-weight: 500;
}

.Header-a:hover {
    color: var(--color-aqua);
}
.Main{
    position: relative;
    overflow: hidden;
}
.Hero {
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/agency9-home-bg1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Hero-background {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/agency9-home-bg1-overlay.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.Header-a--logo {
    width: 100%;
    min-height: fill;
}

.Hero-text {
    width: fit-content;
    margin: 8px auto;
    font-family: var(--primary-font);
    font-size: clamp(2em, 5vw, 5em);
    line-height: 1em;
    font-weight: 800;
    letter-spacing: -0.125rem;
    text-transform: uppercase;
    padding: 8px 19.2px;
    border: .0625rem solid var(--color-enfasis);
    border-radius: 6.25rem;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.Hero-photo {
    width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.Hero-icon {
    width: fit-content;
    /* padding: 12%; */
    background-color: var(--color-enfasis);
    color: white;
    border-radius: 50%;
    font-family: var(--secondary-font);
    font-size: clamp(16px, 3vw, 24px);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Stats {
    width: 100%;
    min-height: fit-content;
    background-image: url('../assets/agency9-home-bg2.webp');
    padding: 96px 48px 224px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Stats-col {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: relative;
}

.Stats-sticky {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: sticky;
    top: 128px;
    left: 0;
}

.Stats-p {
    font-size: clamp(16px, 3vw, 17.6px);
    color: var(--color-primario);
}

.Stats-grid {
    width: 100%;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22.4px;
}

.Stat {
    width: 100%;
    min-height: 288px;
    background-color: var(--card-background);
    padding: 48px;
    border: .0625rem solid var(--color-border);
    border-radius: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Stat--light {
    background-color: var(--color-enfasis);
    border: none;
}

.Stat-detail {
    width: 14.4px;
    min-height: 14.4px;
    background-color: var(--color-primario);
    border-radius: 3.125rem;
    align-self: end;
}

.Stat-info {
    width: 85%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Stat-number {
    font-size: clamp(2.5em, 3.5vw, 3em);
    font-weight: 800;
}

.Stat-text {
    font-family: var(--secondary-font);
    font-size: clamp(.9em, 2vw, 1.1em);
    font-weight: 400;
} 

.Works {
    width: 100%;
    min-height: auto;
    padding: 48px 48px 0;
    
}
.Works-portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 40px;
}

.Works-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.Works-image {
    border-radius: 2rem;
    overflow: hidden;
}

.Works-photo {
    max-width: 100%;
    min-height: 288px;
    background-color: #8589B2;
    transition: all .5s ease;
}

.Works-photo:hover {
    transform: scale(1.1);
}

.Works-text {
    font-size: clamp(.8em, 2vw, .9em);
    color: var(--color-primario);
    margin: 0 0 0 16px;
}


.Offer {
    width: 100%;
    min-height: fit-content;
    background-image: url('../assets/agency9-home-bg3.webp');
    padding: 96px 48px 224px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Offer-col {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.Offer-col--grid {
    width: 100%;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.Offer-sticky {
    width: 85%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: sticky;
    top: 128px;
    left: 0;
}

.Offer-h3--colour {
    color: var(--color-enfasis);
}

.Offer-text {
    font-size: clamp(1em, 3vw, 1.1em);
    line-height: 1.6em;
    text-wrap: wrap;
}

.Offer-service {
    width: 100%;
    min-height: 448px;
    background-color: var(--card-background);
    padding: 64px;
    border: .0625rem solid var(--color-border);
    border-radius: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: space-between;
    z-index: 0;
}

.Offer-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Offer-h4 {
    width: 80%;
    color: #E3F4F8;
}

.Offer-icon {
    width: 128px;
    justify-self: flex-end;
}

.Offer-p {
    width: 90%;
    font-size: clamp(16px, 2vw, 19.2px);
    color: var(--color-primario);
    text-wrap: wrap;
}

.Offer-a {
    width: fit-content;
    min-height: auto;
    background-color: transparent;
    padding: 24px 64px;
    font-size: clamp(1em, 2vw, 1.2em);
    font-weight: 300;
    border: .125rem solid var(--color-enfasis);
    border-radius: 3.125rem;
    cursor: pointer;
    z-index: 0;
    
    transition: all 1s;
    position: relative;
    overflow: hidden;
}

.Offer-a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: var(--color-enfasis);
    border: none;
    border-radius: 0;
    
    z-index: -1;
    transform: translateX(-100%);
}

.Offer-a:hover::before {
    transform: translateX(0);
    transition: all .3s ease;
}

.Offer-a:hover {
    color: var(--color-primario);
}

.Team {
    width: 95%;
    min-height: auto;
    background-image: url(../assets/agency9-home-bg4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    margin: 0 auto;
    padding: 160px 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 3.125rem;
    gap: 40px;
}

.Team-h3 {
    width: 95%;
    text-align: center;
    text-wrap: balance;
}

.Team-h3--colour {
    color: #CACCFF;
}

.Team-a {
    color: white;
}

.Team-grid {
    width: 100%;
    min-height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 64px auto 32px;
}

.Team-person {
    width: 100%;
    min-height: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.25rem);
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.Team-h4 {
    font-size: clamp(1.5em, 4vw, 1.7em);
    font-weight: 900;
    margin: 48px 48px 0 0;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 0 48px;
}

.Team-position {
    font-family: var(--secondary-font);
    font-size: clamp(.7em, 3.5vw, .9em);
    font-weight: 500;
    padding: 0 0 0 48px;
}

.Team-photo {
    min-height: 400px;
    justify-self: center;
}

.Partners{ 
    width: 100%;
    background-image: url(../assets/agency9-home-bg5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 160px 48px 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

.Partners-col--sticky { 
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 48px;
    position: sticky;
    top: 128px;
    left: 0;
}


.Partners-grid{ 
    width: 100%;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    border: .0625rem solid #555990;
    border-radius: 2.5rem;
    backdrop-filter: blur(1.5625rem);
    place-items: center;
    
}

.Partners-logo{ 
    width: 100%;
    min-height: auto;
    padding: 32px 64px;
    border: .0625rem solid #555990;
}

.Partners-svg {
   width: 40%;
   /* width: 192px */;
   justify-self: center;
}

.Partners-logo--corner1 {   
    border-radius: 2.5rem 0 0 0;
}

.Partners-logo--corner2 {
    border-radius: 0 2.5rem 0 0;
}

.Partners-logo--corner3 {   
    border-radius: 0 0 0 2.5rem;
}

.Partners-logo--corner4 {   
   border-radius: 0 0 2.5rem 0;
}

.Footer {
    width: 95%;
    margin: 48px auto;
    background-image: url(../assets/agency9-footer-bg1.webp);
    padding: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    border: .0625rem solid var(--color-border);
    border-radius: 2.5rem;
}

.Footer-icon {
    width: 80px;
    min-height: 80px;
    justify-self: center;
}

.Footer-links {
    width: 100%;
    min-height: fit-content;
    padding: 48px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.Footer-a {
    width: fit-content;
    min-height: auto;
    background-color: transparent;
    padding: 32px 64px;
    font-size: clamp(1.2em, 1.5vw, 2em);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--color-primario);
    border: .0625rem solid #555990;
    border-radius: 3.125rem;
    cursor: pointer;
}

.Footer-a:hover {
    color: var(--color-enfasis)
}

.Footer-submenu {
    width: 100%;
    min-height: auto;
    padding: 48px;
    border-top: .0625rem solid #555990;
    border-bottom: .0625rem solid #555990;
}

.Footer-ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.Footer-socials {
    width: fit-content;
    min-height: auto;
    padding: 12.8px 19.2px;
    background-color: #2E3361;
    border-radius: 3.125rem;
    font-family: var(--secondary-font);
    font-size: clamp(.9em, 1vw, 1.1em);
    font-weight: 500;
    transition: all .3s ease;
}

.Footer-socials:hover {
    background-color: var(--color-enfasis);
}

.Footer-copyright {
    width: 100%;
    font-family: var(--secondary-font);
    font-size: clamp(12.8px, 1.5vw, 1.2em);
    font-weight: 500;
    color: var(--color-primario);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
}

.Footer-link {
    color: var(--color-aqua);
    margin: 0 4.8px;
}

.Footer-link:hover {
    color: var(--color-enfasis);
}


@media (max-width: 1440px){
    .Team-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 60rem) {
    .Header {
        width: 80%;
        margin: 16px auto 0;
        padding: 11.2px 24px;
    }

    .Header-svg {
        display: block;
        width: auto;
    }

    .Header-nav {
        width: 33%;
        display: none;
        min-height: 100vh;
        background-color: var(--color-background);
    }
    
    .Header-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    .Hero {
        max-height: 80vh;
    }


    .Stats {
        flex-direction: column;
        padding: 48px 32px 160px;
        gap: 32px;
    }


    .Works {
        padding: 32px;
        gap: 40px 24px;
    }

    .Works-project {
        gap: 16px;
    }

    .Works-photo {
       min-height: 160px;
    }



    .Offer {
        flex-direction: column;
        padding: 80px 32px;
    }

    .Offer-col--grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .Offer-service {
        padding: 32px;
    }

    .Offer-title {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .Offer-h4 {
        width: 100%;
    }


    .Team {
        padding: 128px 16px 12.8px;
    }

    .Team-grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .Team-photo {
        min-height: 320px;
    }


    .Partners {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .Partners-col--sticky {
        min-height: fit-content;
        position: static;
        gap: 16px;
    }
}

@media (max-width: 48rem){
    .Stats{
        max-width: 88%;
        margin: 0 auto;
    }
    .Stats-sticky{
        gap: 24px;
    }
    .Stats-p{
        font-size: 12.8px;
    }
    .Stats-a{
        padding: 16px 32px;
    }
    .Stats-grid{
        grid-template-columns: 1fr;
    }
    .Stat{
        padding: 32px;
        min-height: 208px;
    }

    .Works{
        width: 88%;
        margin: 0 auto;
    }
    .Works-portfolio{
        grid-template-columns: 1fr;
        gap: 32px;
    }


    .Offer{
        max-width: 85%;
        margin: 0 auto;
    }
    .Offer-sticky{
        gap: 16px;
        width: 100%;
    }
    .Offer-col--grid{
        grid-template-columns: 1fr;
    }
    .Offer-service{
        padding: 24px;
        gap: 32px;
        min-height: auto;
    }
    .Offer-icon{
        width: 18%;
    }
    .Offer-text{
        width: 100%;
        font-size: 14.4px;
    }
    .Offer-a{
        padding: 16px 64px;
    }


    .Team{
        width: 80%;
        padding: 48px 16px 16px;
        gap: 24px;
    }
    .Team-a{
        padding: 19.2px 32px;
    }
    .Team-grid{
        grid-template-columns: 1fr;
        margin: 48px 0;
    }


    .Partners{
        max-width: 88%;
        margin: 0 auto;
    }
    .Partners-grid{
        grid-template-columns: 1fr;
        border: .0625rem solid var(--color-border);
    }
    .Partners-logo{
        padding: 32px 64px;
        border: .0625rem solid var(--color-border);
    }
    .Partners-logo--corner1{
        border-radius: 2.5rem 2.5rem 0 0;
    }
    .Partners-logo--corner2{
        border-radius: 0;
    }
    .Partners-logo--corner3{
        border-radius: 0;
    }
    .Partners-logo--corner4{
        border-radius: 0 0 2.5rem 2.5rem;
    }


    .Footer{
        width: 80%;
        margin: 0 auto;
        padding: 48px;
        text-align: center;
    }
    .Footer-links{
        flex-direction: column;
        gap: 16px;
    }
    .Footer-a{
        width: fit-content;
        padding: 24px 32px;
        font-size: clamp(.9em, 2.5vw, 1.5em);
    }
    .Footer-submenu{
        display: none;
    }
    .Footer-copyright{
        padding: 0;
    }
}

@media (max-width: 30rem) {
    .Header {
        width: 80%;
        margin: 16px auto 0;
        padding: 11.2px 24px;
    }

    .Partners{
        width: 100%;
        padding: 16px;
    }
}